/*Core Grids*/
.mc-grid {
    display:grid;
    grid-gap: var(--grid-gap);
  }
  /* Mobile First */
  .mc-grid[data-sc-s="1"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .mc-grid[data-sc-s="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  .mc-grid[data-sc-s="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .mc-grid[data-sc-s="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  .mc-grid[data-sc-s="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  .mc-grid[data-sc-s="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
  .mc-grid[data-sc-s="7"] {
    grid-template-columns: repeat(7, 1fr);
  }
  .mc-grid[data-sc-s="8"] {
    grid-template-columns: repeat(8, 1fr);
  }
  .mc-grid[data-sc-s="9"] {
    grid-template-columns: repeat(9, 1fr);
  }
  .mc-grid[data-sc-s="10"] {
    grid-template-columns: repeat(10, 1fr);
  }
  .mc-grid[data-sc-s="11"] {
    grid-template-columns: repeat(11, 1fr);
  }
  .mc-grid[data-sc-s="12"] {
    grid-template-columns: repeat(12, 1fr);
  }
  .mc-grid[data-sc-s="13"] {
    grid-template-columns: repeat(13, 1fr);
  }
  .mc-grid[data-sc-s="14"] {
    grid-template-columns: repeat(14, 1fr);
  }
  .mc-grid[data-sc-s="15"] {
    grid-template-columns: repeat(15, 1fr);
  }
  .mc-grid[data-sc-s="16"] {
    grid-template-columns: repeat(16, 1fr);
  }
  .mc-grid[data-sc-s="17"] {
    grid-template-columns: repeat(17, 1fr);
  }
  .mc-grid[data-sc-s="18"] {
    grid-template-columns: repeat(18, 1fr);
  }
  .mc-grid[data-sc-s="19"] {
    grid-template-columns: repeat(19, 1fr);
  }
  .mc-grid[data-sc-s="20"] {
    grid-template-columns: repeat(20, 1fr);
  }
  .mc-grid[data-sc-s="21"] {
    grid-template-columns: repeat(21, 1fr);
  }
  .mc-grid[data-sc-s="22"] {
    grid-template-columns: repeat(22, 1fr);
  }
  .mc-grid[data-sc-s="23"] {
    grid-template-columns: repeat(23, 1fr);
  }
  .mc-grid[data-sc-s="24"] {
    grid-template-columns: repeat(24, 1fr);
  }
  /* Tablet Break Point 576 */
  @media (min-width: 576px) {
    .mc-grid[data-sc-ms="1"] {
      grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid[data-sc-ms="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid[data-sc-ms="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid[data-sc-ms="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid[data-sc-ms="5"] {
      grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid[data-sc-ms="6"] {
      grid-template-columns: repeat(6, 1fr);
    }
    .mc-grid[data-sc-ms="7"] {
      grid-template-columns: repeat(7, 1fr);
    }
    .mc-grid[data-sc-ms="8"] {
      grid-template-columns: repeat(8, 1fr);
    }
    .mc-grid[data-sc-ms="9"] {
      grid-template-columns: repeat(9, 1fr);
    }
    .mc-grid[data-sc-ms="10"] {
      grid-template-columns: repeat(10, 1fr);
    }
    .mc-grid[data-sc-ms="11"] {
      grid-template-columns: repeat(11, 1fr);
    }
    .mc-grid[data-sc-ms="12"] {
      grid-template-columns: repeat(12, 1fr);
    }
    .mc-grid[data-sc-ms="13"] {
      grid-template-columns: repeat(13, 1fr);
    }
    .mc-grid[data-sc-ms="14"] {
      grid-template-columns: repeat(14, 1fr);
    }
    .mc-grid[data-sc-ms="15"] {
      grid-template-columns: repeat(15, 1fr);
    }
    .mc-grid[data-sc-ms="16"] {
      grid-template-columns: repeat(16, 1fr);
    }
    .mc-grid[data-sc-ms="17"] {
      grid-template-columns: repeat(17, 1fr);
    }
    .mc-grid[data-sc-ms="18"] {
      grid-template-columns: repeat(18, 1fr);
    }
    .mc-grid[data-sc-ms="19"] {
      grid-template-columns: repeat(19, 1fr);
    }
    .mc-grid[data-sc-ms="20"] {
      grid-template-columns: repeat(20, 1fr);
    }
    .mc-grid[data-sc-ms="21"] {
      grid-template-columns: repeat(21, 1fr);
    }
    .mc-grid[data-sc-ms="22"] {
      grid-template-columns: repeat(22, 1fr);
    }
    .mc-grid[data-sc-ms="23"] {
      grid-template-columns: repeat(23, 1fr);
    }
    .mc-grid[data-sc-ms="24"] {
      grid-template-columns: repeat(24, 1fr);
    }
  }
  /* Netbook and Laptop Breakpoint 767 */
  @media (min-width: 767px) {
    .mc-grid[data-sc-m="1"] {
      grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid[data-sc-m="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid[data-sc-m="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid[data-sc-m="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid[data-sc-m="5"] {
      grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid[data-sc-m="6"] {
      grid-template-columns: repeat(6, 1fr);
    }
    .mc-grid[data-sc-m="7"] {
      grid-template-columns: repeat(7, 1fr);
    }
    .mc-grid[data-sc-m="8"] {
      grid-template-columns: repeat(8, 1fr);
    }
    .mc-grid[data-sc-m="9"] {
      grid-template-columns: repeat(9, 1fr);
    }
    .mc-grid[data-sc-m="10"] {
      grid-template-columns: repeat(10, 1fr);
    }
    .mc-grid[data-sc-m="11"] {
      grid-template-columns: repeat(11, 1fr);
    }
    .mc-grid[data-sc-m="12"] {
      grid-template-columns: repeat(12, 1fr);
    }
    .mc-grid[data-sc-m="13"] {
      grid-template-columns: repeat(13, 1fr);
    }
    .mc-grid[data-sc-m="14"] {
      grid-template-columns: repeat(14, 1fr);
    }
    .mc-grid[data-sc-m="15"] {
      grid-template-columns: repeat(15, 1fr);
    }
    .mc-grid[data-sc-m="16"] {
      grid-template-columns: repeat(16, 1fr);
    }
    .mc-grid[data-sc-m="17"] {
      grid-template-columns: repeat(17, 1fr);
    }
    .mc-grid[data-sc-m="18"] {
      grid-template-columns: repeat(18, 1fr);
    }
    .mc-grid[data-sc-m="19"] {
      grid-template-columns: repeat(19, 1fr);
    }
    .mc-grid[data-sc-m="20"] {
      grid-template-columns: repeat(20, 1fr);
    }
    .mc-grid[data-sc-m="21"] {
      grid-template-columns: repeat(21, 1fr);
    }
    .mc-grid[data-sc-m="22"] {
      grid-template-columns: repeat(22, 1fr);
    }
    .mc-grid[data-sc-m="23"] {
      grid-template-columns: repeat(23, 1fr);
    }
    .mc-grid[data-sc-m="24"] {
      grid-template-columns: repeat(24, 1fr);
    }
  }
  /* Laptop Breakpoint 1200 */
  @media (min-width: 1200px) {
    .mc-grid[data-sc-ml="1"] {
      grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid[data-sc-ml="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid[data-sc-ml="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid[data-sc-ml="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid[data-sc-ml="5"] {
      grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid[data-sc-ml="6"] {
      grid-template-columns: repeat(6, 1fr);
    }
    .mc-grid[data-sc-ml="7"] {
      grid-template-columns: repeat(7, 1fr);
    }
    .mc-grid[data-sc-ml="8"] {
      grid-template-columns: repeat(8, 1fr);
    }
    .mc-grid[data-sc-ml="9"] {
      grid-template-columns: repeat(9, 1fr);
    }
    .mc-grid[data-sc-ml="10"] {
      grid-template-columns: repeat(10, 1fr);
    }
    .mc-grid[data-sc-ml="11"] {
      grid-template-columns: repeat(11, 1fr);
    }
    .mc-grid[data-sc-ml="12"] {
      grid-template-columns: repeat(12, 1fr);
    }
    .mc-grid[data-sc-ml="13"] {
      grid-template-columns: repeat(13, 1fr);
    }
    .mc-grid[data-sc-ml="14"] {
      grid-template-columns: repeat(14, 1fr);
    }
    .mc-grid[data-sc-ml="15"] {
      grid-template-columns: repeat(15, 1fr);
    }
    .mc-grid[data-sc-ml="16"] {
      grid-template-columns: repeat(16, 1fr);
    }
    .mc-grid[data-sc-ml="17"] {
      grid-template-columns: repeat(17, 1fr);
    }
    .mc-grid[data-sc-ml="18"] {
      grid-template-columns: repeat(18, 1fr);
    }
    .mc-grid[data-sc-ml="19"] {
      grid-template-columns: repeat(19, 1fr);
    }
    .mc-grid[data-sc-ml="20"] {
      grid-template-columns: repeat(20, 1fr);
    }
    .mc-grid[data-sc-ml="21"] {
      grid-template-columns: repeat(21, 1fr);
    }
    .mc-grid[data-sc-ml="22"] {
      grid-template-columns: repeat(22, 1fr);
    }
    .mc-grid[data-sc-ml="23"] {
      grid-template-columns: repeat(23, 1fr);
    }
    .mc-grid[data-sc-ml="24"] {
      grid-template-columns: repeat(24, 1fr);
    }
  }
  /* Macbook Breakpoint 1400 */
  @media (min-width: 1400px) {
    .mc-grid[data-sc-l="1"] {
      grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid[data-sc-l="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid[data-sc-l="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid[data-sc-l="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid[data-sc-l="5"] {
      grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid[data-sc-l="6"] {
      grid-template-columns: repeat(6, 1fr);
    }
    .mc-grid[data-sc-l="7"] {
      grid-template-columns: repeat(7, 1fr);
    }
    .mc-grid[data-sc-l="8"] {
      grid-template-columns: repeat(8, 1fr);
    }
    .mc-grid[data-sc-l="9"] {
      grid-template-columns: repeat(9, 1fr);
    }
    .mc-grid[data-sc-l="10"] {
      grid-template-columns: repeat(10, 1fr);
    }
    .mc-grid[data-sc-l="11"] {
      grid-template-columns: repeat(11, 1fr);
    }
    .mc-grid[data-sc-l="12"] {
      grid-template-columns: repeat(12, 1fr);
    }
    .mc-grid[data-sc-l="13"] {
      grid-template-columns: repeat(13, 1fr);
    }
    .mc-grid[data-sc-l="14"] {
      grid-template-columns: repeat(14, 1fr);
    }
    .mc-grid[data-sc-l="15"] {
      grid-template-columns: repeat(15, 1fr);
    }
    .mc-grid[data-sc-l="16"] {
      grid-template-columns: repeat(16, 1fr);
    }
    .mc-grid[data-sc-l="17"] {
      grid-template-columns: repeat(17, 1fr);
    }
    .mc-grid[data-sc-l="18"] {
      grid-template-columns: repeat(18, 1fr);
    }
    .mc-grid[data-sc-l="19"] {
      grid-template-columns: repeat(19, 1fr);
    }
    .mc-grid[data-sc-l="20"] {
      grid-template-columns: repeat(20, 1fr);
    }
    .mc-grid[data-sc-l="21"] {
      grid-template-columns: repeat(21, 1fr);
    }
    .mc-grid[data-sc-l="22"] {
      grid-template-columns: repeat(22, 1fr);
    }
    .mc-grid[data-sc-l="23"] {
      grid-template-columns: repeat(23, 1fr);
    }
    .mc-grid[data-sc-l="24"] {
      grid-template-columns: repeat(24, 1fr);
    }
  }
  /* Hi-Def Breakpoint 1920 */
  @media (min-width: 1920px) {
    .mc-grid[data-sc-xl="1"] {
      grid-template-columns: repeat(1, 1fr);
    }
    .mc-grid[data-sc-xl="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    .mc-grid[data-sc-xl="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    .mc-grid[data-sc-xl="4"] {
      grid-template-columns: repeat(4, 1fr);
    }
    .mc-grid[data-sc-xl="5"] {
      grid-template-columns: repeat(5, 1fr);
    } 
    .mc-grid[data-sc-xl="6"] {
      grid-template-columns: repeat(6, 1fr);
    }
    .mc-grid[data-sc-xl="7"] {
      grid-template-columns: repeat(7, 1fr);
    }
    .mc-grid[data-sc-xl="8"] {
      grid-template-columns: repeat(8, 1fr);
    }
    .mc-grid[data-sc-xl="9"] {
      grid-template-columns: repeat(9, 1fr);
    }
    .mc-grid[data-sc-xl="10"] {
      grid-template-columns: repeat(10, 1fr);
    }
    .mc-grid[data-sc-xl="11"] {
      grid-template-columns: repeat(11, 1fr);
    }
    .mc-grid[data-sc-xl="12"] {
      grid-template-columns: repeat(12, 1fr);
    }
    .mc-grid[data-sc-xl="13"] {
      grid-template-columns: repeat(13, 1fr);
    }
    .mc-grid[data-sc-xl="14"] {
      grid-template-columns: repeat(14, 1fr);
    }
    .mc-grid[data-sc-xl="15"] {
      grid-template-columns: repeat(15, 1fr);
    }
    .mc-grid[data-sc-xl="16"] {
      grid-template-columns: repeat(16, 1fr);
    }
    .mc-grid[data-sc-xl="17"] {
      grid-template-columns: repeat(17, 1fr);
    }
    .mc-grid[data-sc-xl="18"] {
      grid-template-columns: repeat(18, 1fr);
    }
    .mc-grid[data-sc-xl="19"] {
      grid-template-columns: repeat(19, 1fr);
    }
    .mc-grid[data-sc-xl="20"] {
      grid-template-columns: repeat(20, 1fr);
    }
    .mc-grid[data-sc-xl="21"] {
      grid-template-columns: repeat(21, 1fr);
    }
    .mc-grid[data-sc-xl="22"] {
      grid-template-columns: repeat(22, 1fr);
    }
    .mc-grid[data-sc-xl="23"] {
      grid-template-columns: repeat(23, 1fr);
    }
    .mc-grid[data-sc-xl="24"] {
      grid-template-columns: repeat(24, 1fr);
    }
  }
  
  /* Mobile First */
  .mc-obj[data-sc-s="1"] {
    grid-column: span 1;
  }
  .mc-obj[data-sc-s="2"] {
    grid-column: span 2;
  }
  .mc-obj[data-sc-s="3"] {
    grid-column: span 3;
  }
  .mc-obj[data-sc-s="4"] {
    grid-column: span 4;
  }
  .mc-obj[data-sc-s="5"] {
    grid-column: span 5;
  }
  .mc-obj[data-sc-s="6"] {
    grid-column: span 6;
  }
  .mc-obj[data-sc-s="7"] {
    grid-column: span 7;
  }
  .mc-obj[data-sc-s="8"] {
    grid-column: span 8;
  }
  .mc-obj[data-sc-s="9"] {
    grid-column: span 9;
  }
  .mc-obj[data-sc-s="10"] {
    grid-column: span 10;
  }
  .mc-obj[data-sc-s="11"] {
    grid-column: span 11;
  }
  .mc-obj[data-sc-s="12"] {
    grid-column: span 12;
  }
  .mc-obj[data-sc-s="13"] {
    grid-column: span 13;
  }
  .mc-obj[data-sc-s="14"] {
    grid-column: span 14;
  }
  .mc-obj[data-sc-s="15"] {
    grid-column: span 15;
  }
  .mc-obj[data-sc-s="16"] {
    grid-column: span 16;
  }
  .mc-obj[data-sc-s="17"] {
    grid-column: span 17;
  }
  .mc-obj[data-sc-s="18"] {
    grid-column: span 18;
  }
  .mc-obj[data-sc-s="19"] {
    grid-column: span 19;
  }
  .mc-obj[data-sc-s="20"] {
    grid-column: span 20;
  }
  .mc-obj[data-sc-s="21"] {
    grid-column: span 21;
  }
  .mc-obj[data-sc-s="22"] {
    grid-column: span 22;
  }
  .mc-obj[data-sc-s="23"] {
    grid-column: span 23;
  }
  .mc-obj[data-sc-s="24"] {
    grid-column: span 24;
  }
  /* Tablet Break Point 576 */
  @media (min-width: 576px) {
    .mc-obj[data-sc-ms="1"] {
      grid-column: span 1;
    }
    .mc-obj[data-sc-ms="2"] {
      grid-column: span 2;
    }
    .mc-obj[data-sc-ms="3"] {
      grid-column: span 3;
    }
    .mc-obj[data-sc-ms="4"] {
      grid-column: span 4;
    }
    .mc-obj[data-sc-ms="5"] {
      grid-column: span 5;
    } 
    .mc-obj[data-sc-ms="6"] {
      grid-column: span 6;
    }
    .mc-obj[data-sc-ms="7"] {
      grid-column: span 7;
    }
    .mc-obj[data-sc-ms="8"] {
      grid-column: span 8;
    }
    .mc-obj[data-sc-ms="9"] {
      grid-column: span 9;
    }
    .mc-obj[data-sc-ms="10"] {
      grid-column: span 10;
    }
    .mc-obj[data-sc-ms="11"] {
      grid-column: span 11;
    }
    .mc-obj[data-sc-ms="12"] {
      grid-column: span 12;
    }
    .mc-obj[data-sc-ms="13"] {
      grid-column: span 13;
    }
    .mc-obj[data-sc-ms="14"] {
      grid-column: span 14;
    }
    .mc-obj[data-sc-ms="15"] {
      grid-column: span 15;
    }
    .mc-obj[data-sc-ms="16"] {
      grid-column: span 16;
    }
    .mc-obj[data-sc-ms="17"] {
      grid-column: span 17;
    }
    .mc-obj[data-sc-ms="18"] {
      grid-column: span 18;
    }
    .mc-obj[data-sc-ms="19"] {
      grid-column: span 19;
    }
    .mc-obj[data-sc-ms="20"] {
      grid-column: span 20;
    }
    .mc-obj[data-sc-ms="21"] {
      grid-column: span 21;
    }
    .mc-obj[data-sc-ms="22"] {
      grid-column: span 22;
    }
    .mc-obj[data-sc-ms="23"] {
      grid-column: span 23;
    }
    .mc-obj[data-sc-ms="24"] {
      grid-column: span 24;
    }
  }
  /* Netbook and Laptop Breakpoint 767 */
  @media (min-width: 767px) {
    .mc-obj[data-sc-m="1"] {
      grid-column: span 1;
    }
    .mc-obj[data-sc-m="2"] {
      grid-column: span 2;
    }
    .mc-obj[data-sc-m="3"] {
      grid-column: span 3;
    }
    .mc-obj[data-sc-m="4"] {
      grid-column: span 4;
    }
    .mc-obj[data-sc-m="5"] {
      grid-column: span 5;
    } 
    .mc-obj[data-sc-m="6"] {
      grid-column: span 6;
    }
    .mc-obj[data-sc-m="7"] {
      grid-column: span 7;
    }
    .mc-obj[data-sc-m="8"] {
      grid-column: span 8;
    }
    .mc-obj[data-sc-m="9"] {
      grid-column: span 9;
    }
    .mc-obj[data-sc-m="10"] {
      grid-column: span 10;
    }
    .mc-obj[data-sc-m="11"] {
      grid-column: span 11;
    }
    .mc-obj[data-sc-m="12"] {
      grid-column: span 12;
    }
    .mc-obj[data-sc-m="13"] {
      grid-column: span 13;
    }
    .mc-obj[data-sc-m="14"] {
      grid-column: span 14;
    }
    .mc-obj[data-sc-m="15"] {
      grid-column: span 15;
    }
    .mc-obj[data-sc-m="16"] {
      grid-column: span 16;
    }
    .mc-obj[data-sc-m="17"] {
      grid-column: span 17;
    }
    .mc-obj[data-sc-m="18"] {
      grid-column: span 18;
    }
    .mc-obj[data-sc-m="19"] {
      grid-column: span 19;
    }
    .mc-obj[data-sc-m="20"] {
      grid-column: span 20;
    }
    .mc-obj[data-sc-m="21"] {
      grid-column: span 21;
    }
    .mc-obj[data-sc-m="22"] {
      grid-column: span 22;
    }
    .mc-obj[data-sc-m="23"] {
      grid-column: span 23;
    }
    .mc-obj[data-sc-m="24"] {
      grid-column: span 24;
    }
  }
  /* Laptop Breakpoint 1200 */
  @media (min-width: 1200px) {
    .mc-obj[data-sc-ml="1"] {
      grid-column: span 1;
    }
    .mc-obj[data-sc-ml="2"] {
      grid-column: span 2;
    }
    .mc-obj[data-sc-ml="3"] {
      grid-column: span 3;
    }
    .mc-obj[data-sc-ml="4"] {
      grid-column: span 4;
    }
    .mc-obj[data-sc-ml="5"] {
      grid-column: span 5;
    } 
    .mc-obj[data-sc-ml="6"] {
      grid-column: span 6;
    }
    .mc-obj[data-sc-ml="7"] {
      grid-column: span 7;
    }
    .mc-obj[data-sc-ml="8"] {
      grid-column: span 8;
    }
    .mc-obj[data-sc-ml="9"] {
      grid-column: span 9;
    }
    .mc-obj[data-sc-ml="10"] {
      grid-column: span 10;
    }
    .mc-obj[data-sc-ml="11"] {
      grid-column: span 11;
    }
    .mc-obj[data-sc-ml="12"] {
      grid-column: span 12;
    }
    .mc-obj[data-sc-ml="13"] {
      grid-column: span 13;
    }
    .mc-obj[data-sc-ml="14"] {
      grid-column: span 14;
    }
    .mc-obj[data-sc-ml="15"] {
      grid-column: span 15;
    }
    .mc-obj[data-sc-ml="16"] {
      grid-column: span 16;
    }
    .mc-obj[data-sc-ml="17"] {
      grid-column: span 17;
    }
    .mc-obj[data-sc-ml="18"] {
      grid-column: span 18;
    }
    .mc-obj[data-sc-ml="19"] {
      grid-column: span 19;
    }
    .mc-obj[data-sc-ml="20"] {
      grid-column: span 20;
    }
    .mc-obj[data-sc-ml="21"] {
      grid-column: span 21;
    }
    .mc-obj[data-sc-ml="22"] {
      grid-column: span 22;
    }
    .mc-obj[data-sc-ml="23"] {
      grid-column: span 23;
    }
    .mc-obj[data-sc-ml="24"] {
      grid-column: span 24;
    }
  }
  /* Macbook Breakpoint 1400 */
  @media (min-width: 1400px) {
    .mc-obj[data-sc-l="1"] {
      grid-column: span 1;
    }
    .mc-obj[data-sc-l="2"] {
      grid-column: span 2;
    }
    .mc-obj[data-sc-l="3"] {
      grid-column: span 3;
    }
    .mc-obj[data-sc-l="4"] {
      grid-column: span 4;
    }
    .mc-obj[data-sc-l="5"] {
      grid-column: span 5;
    } 
    .mc-obj[data-sc-l="6"] {
      grid-column: span 6;
    }
    .mc-obj[data-sc-l="7"] {
      grid-column: span 7;
    }
    .mc-obj[data-sc-l="8"] {
      grid-column: span 8;
    }
    .mc-obj[data-sc-l="9"] {
      grid-column: span 9;
    }
    .mc-obj[data-sc-l="10"] {
      grid-column: span 10;
    }
    .mc-obj[data-sc-l="11"] {
      grid-column: span 11;
    }
    .mc-obj[data-sc-l="12"] {
      grid-column: span 12;
    }
    .mc-obj[data-sc-l="13"] {
      grid-column: span 13;
    }
    .mc-obj[data-sc-l="14"] {
      grid-column: span 14;
    }
    .mc-obj[data-sc-l="15"] {
      grid-column: span 15;
    }
    .mc-obj[data-sc-l="16"] {
      grid-column: span 16;
    }
    .mc-obj[data-sc-l="17"] {
      grid-column: span 17;
    }
    .mc-obj[data-sc-l="18"] {
      grid-column: span 18;
    }
    .mc-obj[data-sc-l="19"] {
      grid-column: span 19;
    }
    .mc-obj[data-sc-l="20"] {
      grid-column: span 20;
    }
    .mc-obj[data-sc-l="21"] {
      grid-column: span 21;
    }
    .mc-obj[data-sc-l="22"] {
      grid-column: span 22;
    }
    .mc-obj[data-sc-l="23"] {
      grid-column: span 23;
    }
    .mc-obj[data-sc-l="24"] {
      grid-column: span 24;
    }
  }
  /* Hi-Def Breakpoint 1920 */
  @media (min-width: 1920px) {
    .mc-obj[data-sc-xl="1"] {
      grid-column: span 1;
    }
    .mc-obj[data-sc-xl="2"] {
      grid-column: span 2;
    }
    .mc-obj[data-sc-xl="3"] {
      grid-column: span 3;
    }
    .mc-obj[data-sc-xl="4"] {
      grid-column: span 4;
    }
    .mc-obj[data-sc-xl="5"] {
      grid-column: span 5;
    } 
    .mc-obj[data-sc-xl="6"] {
      grid-column: span 6;
    }
    .mc-obj[data-sc-xl="7"] {
      grid-column: span 7;
    }
    .mc-obj[data-sc-xl="8"] {
      grid-column: span 8;
    }
    .mc-obj[data-sc-xl="9"] {
      grid-column: span 9;
    }
    .mc-obj[data-sc-xl="10"] {
      grid-column: span 10;
    }
    .mc-obj[data-sc-xl="11"] {
      grid-column: span 11;
    }
    .mc-obj[data-sc-xl="12"] {
      grid-column: span 12;
    }
    .mc-obj[data-sc-xl="13"] {
      grid-column: span 13;
    }
    .mc-obj[data-sc-xl="14"] {
      grid-column: span 14;
    }
    .mc-obj[data-sc-xl="15"] {
      grid-column: span 15;
    }
    .mc-obj[data-sc-xl="16"] {
      grid-column: span 16;
    }
    .mc-obj[data-sc-xl="17"] {
      grid-column: span 17;
    }
    .mc-obj[data-sc-xl="18"] {
      grid-column: span 18;
    }
    .mc-obj[data-sc-xl="19"] {
      grid-column: span 19;
    }
    .mc-obj[data-sc-xl="20"] {
      grid-column: span 20;
    }
    .mc-obj[data-sc-xl="21"] {
      grid-column: span 21;
    }
    .mc-obj[data-sc-xl="22"] {
      grid-column: span 22;
    }
    .mc-obj[data-sc-xl="23"] {
      grid-column: span 23;
    }
    .mc-obj[data-sc-xl="24"] {
      grid-column: span 24;
    }
  }
  /* Mobile First */
  .mc-obj[data-sch-s="1"] {
    grid-row: span 1;
  }
  .mc-obj[data-sch-s="2"] {
    grid-row: span 2;
  }
  .mc-obj[data-sch-s="3"] {
    grid-row: span 3;
  }
  .mc-obj[data-sch-s="4"] {
    grid-row: span 4;
  }
  .mc-obj[data-sch-s="5"] {
    grid-row: span 5;
  }
  .mc-obj[data-sch-s="6"] {
    grid-row: span 6;
  }
  .mc-obj[data-sch-s="7"] {
    grid-row: span 7;
  }
  .mc-obj[data-sch-s="8"] {
    grid-row: span 8;
  }
  .mc-obj[data-sch-s="9"] {
    grid-row: span 9;
  }
  .mc-obj[data-sch-s="10"] {
    grid-row: span 10;
  }
  .mc-obj[data-sch-s="11"] {
    grid-row: span 11;
  }
  .mc-obj[data-sch-s="12"] {
    grid-row: span 12;
  }
  .mc-obj[data-sch-s="13"] {
    grid-row: span 13;
  }
  .mc-obj[data-sch-s="14"] {
    grid-row: span 14;
  }
  .mc-obj[data-sch-s="15"] {
    grid-row: span 15;
  }
  .mc-obj[data-sch-s="16"] {
    grid-row: span 16;
  }
  .mc-obj[data-sch-s="17"] {
    grid-row: span 17;
  }
  .mc-obj[data-sch-s="18"] {
    grid-row: span 18;
  }
  .mc-obj[data-sch-s="19"] {
    grid-row: span 19;
  }
  .mc-obj[data-sch-s="20"] {
    grid-row: span 20;
  }
  .mc-obj[data-sch-s="21"] {
    grid-row: span 21;
  }
  .mc-obj[data-sch-s="22"] {
    grid-row: span 22;
  }
  .mc-obj[data-sch-s="23"] {
    grid-row: span 23;
  }
  .mc-obj[data-sch-s="24"] {
    grid-row: span 24;
  }
  /* Tablet Break Point 576 */
  @media (min-width: 576px) {
    .mc-obj[data-sch-ms="1"] {
      grid-row: span 1;
    }
    .mc-obj[data-sch-ms="2"] {
      grid-row: span 2;
    }
    .mc-obj[data-sch-ms="3"] {
      grid-row: span 3;
    }
    .mc-obj[data-sch-ms="4"] {
      grid-row: span 4;
    }
    .mc-obj[data-sch-ms="5"] {
      grid-row: span 5;
    } 
    .mc-obj[data-sch-ms="6"] {
      grid-row: span 6;
    }
    .mc-obj[data-sch-ms="7"] {
      grid-row: span 7;
    }
    .mc-obj[data-sch-ms="8"] {
      grid-row: span 8;
    }
    .mc-obj[data-sch-ms="9"] {
      grid-row: span 9;
    }
    .mc-obj[data-sch-ms="10"] {
      grid-row: span 10;
    }
    .mc-obj[data-sch-ms="11"] {
      grid-row: span 11;
    }
    .mc-obj[data-sch-ms="12"] {
      grid-row: span 12;
    }
    .mc-obj[data-sch-ms="13"] {
      grid-row: span 13;
    }
    .mc-obj[data-sch-ms="14"] {
      grid-row: span 14;
    }
    .mc-obj[data-sch-ms="15"] {
      grid-row: span 15;
    }
    .mc-obj[data-sch-ms="16"] {
      grid-row: span 16;
    }
    .mc-obj[data-sch-ms="17"] {
      grid-row: span 17;
    }
    .mc-obj[data-sch-ms="18"] {
      grid-row: span 18;
    }
    .mc-obj[data-sch-ms="19"] {
      grid-row: span 19;
    }
    .mc-obj[data-sch-ms="20"] {
      grid-row: span 20;
    }
    .mc-obj[data-sch-ms="21"] {
      grid-row: span 21;
    }
    .mc-obj[data-sch-ms="22"] {
      grid-row: span 22;
    }
    .mc-obj[data-sch-ms="23"] {
      grid-row: span 23;
    }
    .mc-obj[data-sch-ms="24"] {
      grid-row: span 24;
    }
  }
  /* Netbook and Laptop Breakpoint 767 */
  @media (min-width: 767px) {
    .mc-obj[data-sch-m="1"] {
      grid-row: span 1;
    }
    .mc-obj[data-sch-m="2"] {
      grid-row: span 2;
    }
    .mc-obj[data-sch-m="3"] {
      grid-row: span 3;
    }
    .mc-obj[data-sch-m="4"] {
      grid-row: span 4;
    }
    .mc-obj[data-sch-m="5"] {
      grid-row: span 5;
    } 
    .mc-obj[data-sch-m="6"] {
      grid-row: span 6;
    }
    .mc-obj[data-sch-m="7"] {
      grid-row: span 7;
    }
    .mc-obj[data-sch-m="8"] {
      grid-row: span 8;
    }
    .mc-obj[data-sch-m="9"] {
      grid-row: span 9;
    }
    .mc-obj[data-sch-m="10"] {
      grid-row: span 10;
    }
    .mc-obj[data-sch-m="11"] {
      grid-row: span 11;
    }
    .mc-obj[data-sch-m="12"] {
      grid-row: span 12;
    }
    .mc-obj[data-sch-m="13"] {
      grid-row: span 13;
    }
    .mc-obj[data-sch-m="14"] {
      grid-row: span 14;
    }
    .mc-obj[data-sch-m="15"] {
      grid-row: span 15;
    }
    .mc-obj[data-sch-m="16"] {
      grid-row: span 16;
    }
    .mc-obj[data-sch-m="17"] {
      grid-row: span 17;
    }
    .mc-obj[data-sch-m="18"] {
      grid-row: span 18;
    }
    .mc-obj[data-sch-m="19"] {
      grid-row: span 19;
    }
    .mc-obj[data-sch-m="20"] {
      grid-row: span 20;
    }
    .mc-obj[data-sch-m="21"] {
      grid-row: span 21;
    }
    .mc-obj[data-sch-m="22"] {
      grid-row: span 22;
    }
    .mc-obj[data-sch-m="23"] {
      grid-row: span 23;
    }
    .mc-obj[data-sch-m="24"] {
      grid-row: span 24;
    }
  }
  /* Laptop Breakpoint 1200 */
  @media (min-width: 1200px) {
    .mc-obj[data-sch-ml="1"] {
      grid-row: span 1;
    }
    .mc-obj[data-sch-ml="2"] {
      grid-row: span 2;
    }
    .mc-obj[data-sch-ml="3"] {
      grid-row: span 3;
    }
    .mc-obj[data-sch-ml="4"] {
      grid-row: span 4;
    }
    .mc-obj[data-sch-ml="5"] {
      grid-row: span 5;
    } 
    .mc-obj[data-sch-ml="6"] {
      grid-row: span 6;
    }
    .mc-obj[data-sch-ml="7"] {
      grid-row: span 7;
    }
    .mc-obj[data-sch-ml="8"] {
      grid-row: span 8;
    }
    .mc-obj[data-sch-ml="9"] {
      grid-row: span 9;
    }
    .mc-obj[data-sch-ml="10"] {
      grid-row: span 10;
    }
    .mc-obj[data-sch-ml="11"] {
      grid-row: span 11;
    }
    .mc-obj[data-sch-ml="12"] {
      grid-row: span 12;
    }
    .mc-obj[data-sch-ml="13"] {
      grid-row: span 13;
    }
    .mc-obj[data-sch-ml="14"] {
      grid-row: span 14;
    }
    .mc-obj[data-sch-ml="15"] {
      grid-row: span 15;
    }
    .mc-obj[data-sch-ml="16"] {
      grid-row: span 16;
    }
    .mc-obj[data-sch-ml="17"] {
      grid-row: span 17;
    }
    .mc-obj[data-sch-ml="18"] {
      grid-row: span 18;
    }
    .mc-obj[data-sch-ml="19"] {
      grid-row: span 19;
    }
    .mc-obj[data-sch-ml="20"] {
      grid-row: span 20;
    }
    .mc-obj[data-sch-ml="21"] {
      grid-row: span 21;
    }
    .mc-obj[data-sch-ml="22"] {
      grid-row: span 22;
    }
    .mc-obj[data-sch-ml="23"] {
      grid-row: span 23;
    }
    .mc-obj[data-sch-ml="24"] {
      grid-row: span 24;
    }
  }
  /* Macbook Breakpoint 1400 */
  @media (min-width: 1400px) {
    .mc-obj[data-sch-l="1"] {
      grid-row: span 1;
    }
    .mc-obj[data-sch-l="2"] {
      grid-row: span 2;
    }
    .mc-obj[data-sch-l="3"] {
      grid-row: span 3;
    }
    .mc-obj[data-sch-l="4"] {
      grid-row: span 4;
    }
    .mc-obj[data-sch-l="5"] {
      grid-row: span 5;
    } 
    .mc-obj[data-sch-l="6"] {
      grid-row: span 6;
    }
    .mc-obj[data-sch-l="7"] {
      grid-row: span 7;
    }
    .mc-obj[data-sch-l="8"] {
      grid-row: span 8;
    }
    .mc-obj[data-sch-l="9"] {
      grid-row: span 9;
    }
    .mc-obj[data-sch-l="10"] {
      grid-row: span 10;
    }
    .mc-obj[data-sch-l="11"] {
      grid-row: span 11;
    }
    .mc-obj[data-sch-l="12"] {
      grid-row: span 12;
    }
    .mc-obj[data-sch-l="13"] {
      grid-row: span 13;
    }
    .mc-obj[data-sch-l="14"] {
      grid-row: span 14;
    }
    .mc-obj[data-sch-l="15"] {
      grid-row: span 15;
    }
    .mc-obj[data-sch-l="16"] {
      grid-row: span 16;
    }
    .mc-obj[data-sch-l="17"] {
      grid-row: span 17;
    }
    .mc-obj[data-sch-l="18"] {
      grid-row: span 18;
    }
    .mc-obj[data-sch-l="19"] {
      grid-row: span 19;
    }
    .mc-obj[data-sch-l="20"] {
      grid-row: span 20;
    }
    .mc-obj[data-sch-l="21"] {
      grid-row: span 21;
    }
    .mc-obj[data-sch-l="22"] {
      grid-row: span 22;
    }
    .mc-obj[data-sch-l="23"] {
      grid-row: span 23;
    }
    .mc-obj[data-sch-l="24"] {
      grid-row: span 24;
    }
  }
  /* Hi-Def Breakpoint 1920 */
  @media (min-width: 1920px) {
    .mc-obj[data-sch-xl="1"] {
      grid-row: span 1;
    }
    .mc-obj[data-sch-xl="2"] {
      grid-row: span 2;
    }
    .mc-obj[data-sch-xl="3"] {
      grid-row: span 3;
    }
    .mc-obj[data-sch-xl="4"] {
      grid-row: span 4;
    }
    .mc-obj[data-sch-xl="5"] {
      grid-row: span 5;
    } 
    .mc-obj[data-sch-xl="6"] {
      grid-row: span 6;
    }
    .mc-obj[data-sch-xl="7"] {
      grid-row: span 7;
    }
    .mc-obj[data-sch-xl="8"] {
      grid-row: span 8;
    }
    .mc-obj[data-sch-xl="9"] {
      grid-row: span 9;
    }
    .mc-obj[data-sch-xl="10"] {
      grid-row: span 10;
    }
    .mc-obj[data-sch-xl="11"] {
      grid-row: span 11;
    }
    .mc-obj[data-sch-xl="12"] {
      grid-row: span 12;
    }
    .mc-obj[data-sch-xl="13"] {
      grid-row: span 13;
    }
    .mc-obj[data-sch-xl="14"] {
      grid-row: span 14;
    }
    .mc-obj[data-sch-xl="15"] {
      grid-row: span 15;
    }
    .mc-obj[data-sch-xl="16"] {
      grid-row: span 16;
    }
    .mc-obj[data-sch-xl="17"] {
      grid-row: span 17;
    }
    .mc-obj[data-sch-xl="18"] {
      grid-row: span 18;
    }
    .mc-obj[data-sch-xl="19"] {
      grid-row: span 19;
    }
    .mc-obj[data-sch-xl="20"] {
      grid-row: span 20;
    }
    .mc-obj[data-sch-xl="21"] {
      grid-row: span 21;
    }
    .mc-obj[data-sch-xl="22"] {
      grid-row: span 22;
    }
    .mc-obj[data-sch-xl="23"] {
      grid-row: span 23;
    }
    .mc-obj[data-sch-xl="24"] {
      grid-row: span 24;
    }
  }